---
title: ${1:Examples} #文章标题
date: ${date}  #写作时间
description: #文章描述
categories: #文章分类
tags: #文章标签
toc: true # 生成目录
author:
comments:
original:
permalink: #指定链接
---

    以上是摘要
<!--more-->

    以下是余下全文